.react-datepicker__day--highlighted-custom-2 {
    color:rgb(255, 255, 255);
    background-color: #80c511; 
    border-radius: 6px;
    
    
}

.react-datepicker__day--highlighted-custom-2:hover {
    color:rgb(255, 255, 255);
    background-color: #80c511d8; 
}

