
.datePickerWrapper  {
  /* position: absolute;
  transform: scale(.9); */
  /* border: 10px solid red; */
}

@media (min-width:768px) {
  .datePickerWrapper  {
    position: absolute;
    transform: scale(.8);
    /* border: 10px solid red; */
  }
}
@media (min-width:1440px) {
  .datePickerWrapper  {
    /* position: absolute; */
    transform: scale(1);
    top:.3rem;
    /* border: 10px solid red; */
  }
}
